body table {
  border: 3px solid blue;
  border-collapse: collapse;
}
body td, body th {
  border: 2px solid grey;
}
body th {
  background-color: LightGrey;
}
body input[type=number] {
  background-color: yellow;
}
body button:hover {
  background-color: orange;
}

#bart {
  background-color: green;
}

.pic {
  color: red;
}

@media print {
  button[type=button] {
    display: none;
  }
}
/* If the browser window is 600px or smaller, the background color will be lightblue: */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
